@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/rubik-light.woff2) format("woff2"), url(../fonts/rubik-light.woff) format("woff"), url(../fonts/rubik-light.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik-regular.woff2) format("woff2"), url(../fonts/rubik-regular.woff) format("woff"), url(../fonts/rubik-regular.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/rubik-medium.woff2) format("woff2"), url(../fonts/rubik-medium.woff) format("woff"), url(../fonts/rubik-medium.ttf) format("truetype");
  font-display: swap
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik-bold.woff2) format("woff2"), url(../fonts/rubik-bold.woff) format("woff"), url(../fonts/rubik-bold.ttf) format("truetype");
  font-display: swap
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
}

.login-container {
  height: 100%;
  font-family: rubik, arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}


.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box__title {
  font-size: 80px;
}

.title-box__title--small {
  font-size: 40px;
  margin: 15px 0;
}

.login-form {
  display: flex;
  justify-content: center;
}

.login-form__form {
  width: 40%;
}

.login-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form__label {
  font-size: 25px;
}

.login-form__input {
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  font-family: inherit;
  font-size: 20px;
}

.login-form__input:hover {
  border-color: black;
}

.login-form__button {
  background-color: lightgray;
  border: none;
  font-size: 25px;
  padding: 8px;
  border-radius: 5px;
}

.login-form__button:hover {
  background-color: grey;
}

.login-form__button:active {
  background-color: lightgray;
  color: grey;
}

.main-container {
  display: flex;
  font-family: rubik, arial, sans-serif;
  height: 100%;
}

.contacts-container {
  width: 80%;
  margin: 0 auto;
}

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  flex-basis: 185px;
  margin: 10px;
}

.contact:hover {
  border-color: grey;
}

.contact__buttons-list {
  list-style: none;
  padding: 0;
}

.contact__pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contact__name {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.contact__number {
  text-decoration: none;
  font-family: rubik, arial, sans-serif;
  color: grey;
  font-style: italic;
}

.contact__number:hover {
  color: black;
}

.contact__number:active {
  color: grey;
}

.contact__buttons-list {
  display: flex;
  width: 100px;
  justify-content: space-around;
  margin: 13px 0 0 0;
}

.contact__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact__button-pic {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.contact__button-pic--add-button {
  height: 40px;
  width: 40px;
}

.contact__button-pic:hover {
  opacity: 1;
}

.contact__button-pic:active {
  opacity: 0.5;
}

.contact__name--input {
  width: 80%;
  cursor: pointer;
  border: none;
}

.contact__name--input:hover {
  color: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__number--input {
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  border: none;
}

.contact__number--input:hover {
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.contact__avatar-load {
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__button {
  cursor: pointer;
  font-style: italic;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px -1px black;
}

.navigation__button:active {
  box-shadow: none;
}

.navigation__button:hover {
  background-color: lightblue;
}

